* {
  font-family: 'Inter', system-ui;
}

body {
  margin: 0;
  -webkit-font-smoothing: antiliased;
  -moz-osx-font-smoothing: antiliased;
  background-color: #e7f6ff;
  width: 100%;
  height: 100%;
}
